{% extends "template.html" %}

{% block title %} Noether Protocol: about us {% endblock %}

{% block content %}
<div style="background-color:black;color:white;padding:20px; ">
<p>The team behind the Noether Protocol includes physicists, mathematicians, computer scientists and experts in cryptocurrencies, as well as lawyers and software developers, to ensure a safe and serious experience, akin to those who identify themselves with the Cardano Ecosystem and its core values.</p>

<p>All the legal and institutional information regarding the Noether Protocol will be public. It aims to be an open source project with maximal transparency in the starting dApp’s environment. </p>

<p>We understand the importance of accountability in endeavours such as this. In that spirit, the whole team behind the Noether Protocol will be public. Our scientific credentials are important for the community. We do not seek anonymity because we are here for the long run and we believe in what we are building.</p> 
</div> 
<img src="static/cerebro.jpg" alt="logo" style="width:100%;" class="d-inline-block align-top">

{% endblock %}