{% extends "base.html" %}

{% block title %} Noether Protocol: Whitepaper {% endblock %}

{% block content %}
<div style="background-color:black;color:white;padding:20px; ">
	<dl>
	  <dt><h3 style="color:white">Downloads links</h3></dt>
	  <dd>-<a href="static/whitepaper.pdf" style="color:white" download> Whitepaper</a></dd>
	  <dd>-<a href="static/mathnoeth.pdf"  style="color:white" download> Tokenomics article</a></dd>
	</dl> 
</div>	
<img src="static/cerebro.jpg" alt="logo" style="width:100%;" class="d-inline-block align-top">



{% endblock %}